body{
  background-color: #D4ECDD;
}
hr {
 border-style: none;
 border-top-style: dotted;
 border-color: grey;
 border-width:5px;
 width: 5%;
}
h1 {
  color: #345B63;
  font-family: papyrus;
  font-size: 50px;
}
h3 {
  color: #345B63;
  font-family: verdana;
}
